@use './functions' as *;

$color-background: #030a1c;
$color-text: #fff;
$color-location: #031943;
$color-blue: #003da9;
$color-blue-border: #075bce;
$color-purple: #3d108d;
$color-purple-border: #6500c7;
$color-pink: #810b65;
$color-pink-border: #b50083;
$color-lime: #747d00;
$color-lime-border: #a0a500;
$color-glow: #0068e0;
$color-available: #37d000;
$color-logo-blue: #7ce8ff;
$color-logo-pink: #fba3ff;
$font-family: Arial, 'Hiragino Kaku Gothic ProN', 'Noto Sans JP', sans-serif;
$page-width: rem(480);
$page-gutter: rem(20);
$radius-panel: rem(18);
$radius-card: rem(14);
$breakpoint-desktop: rem(768);
