@use './variables' as v;

* {
  box-sizing: border-box;
}

:root {
  font-family: v.$font-family;
  color: v.$color-text;
  background: v.$color-background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 320px;
}

button, input {
  font: inherit;
}

a {
  color: inherit;
}

:focus-visible {
  outline: 2px solid v.$color-text;
  outline-offset: 4px;
}
